html,
body,
#root,
#root > div {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header-area {
  width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-area img {
  width: 128px;
  height: 60px;
}
#header {
  height: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}
#body {
  height: 100vh;
  padding-bottom: 24px;
  width: 1024px;
  margin: 0 auto;
}
#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}
